<div *ngIf="warning || success || failed" [ngClass]="{'alert-warning': warning, 'alert-success': success, 'alert-danger': failed}"  class="alert alert-success" role="alert">
  {{response.message}}
</div>

<form class="form-horizontal" [formGroup]="newPetForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="type" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
      <div class="text-danger" *ngIf="!newPetForm.controls['name'].valid  && newPetForm.controls['type'].touched">
        Please Enter a Name
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="type" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <select formControlName="type" class="form-control" (change)="onSelect($event.target.value)">
            <option value="" selected>--Select Type--</option>
            <option *ngFor="let type of petTypes" [ngValue]="type">{{type.name}}</option>
      </select>
      <div class="text-danger" *ngIf="!newPetForm.controls['type'].valid && newPetForm.controls['type'].touched">
        Please Enter a Type
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="breed" class="col-sm-2 control-label">Breed</label>
    <div class="col-sm-10">
      <select formControlName="breed" class="form-control">
            <option value="" selected>--Select Breed--</option>
            <option *ngFor="let breed of breeds" [ngValue]="breed">{{breed.name}}</option>
      </select>
      <div class="text-danger" *ngIf="!newPetForm.controls['breed'].valid && newPetForm.controls['breed'].touched">
        Please Enter a Breed
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="location" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="location" placeholder="location" formControlName="location" readonly>
    </div>
  </div>
  <div class="form-group">
    <label for="latitude" class="col-sm-2 control-label">Latitude</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="latitude" placeholder="latitude" formControlName="latitude" readonly>
    </div>
  </div>
  <div class="form-group">
    <label for="longitude" class="col-sm-2 control-label">Longitude</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="longitude" placeholder="longitude" formControlName="longitude" readonly>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" [disabled]="!newPetForm.valid">Add my pet!</button>
    </div>
  </div>
</form>
<ng2-slim-loading-bar [color]="'blue'"></ng2-slim-loading-bar>
