<div class="col-md-12"  *ngIf="hasValue">
  <div class="col-md-6">
    <div class="pull-left">
      <div *ngIf="isRain">
        <img class="img-responsive"
             src="../assets/umbrella.png"/>
      </div>
        <img class="img-responsive"
             src="{{pet.breed.imgUrl}}"/>
    </div>
  </div>
  <div class="col-md-6">
    <div class="pull-right text-center">
      <div *ngIf="isRain">
        <h2>Yup</h2>
        <h4>It looks like {{pet.name}} is going to need one in {{pet.location}}</h4>
      </div>
      <div *ngIf="!isRain">
        <h2>Nope</h2>
        <h4>It looks like {{pet.name}} is not going to need one in {{pet.location}} afterall</h4>
      </div>
      <br />
      <a [routerLink]="['']">Lookup a different pet</a>
    </div>
  </div>
</div>

<div class="nb-error" *ngIf="notFound">
      <div class="error-code">404</div>
      <h3 class="font-bold">We couldn't find the page..</h3>

      <div class="error-desc">
          Sorry, but the page you are looking for was either not found or does not exist. <br/>
          Try refreshing the page or click the button below to go back to the Homepage.
         <ul class="list-inline text-center text-sm">
           <li class="list-inline-item"><a [routerLink]="['']" class="text-muted">Go to App</a></li>
        </ul>
      </div>
  </div>

  <ng2-slim-loading-bar [color]="'blue'"></ng2-slim-loading-bar>
